@charset "ISO-8859-1";

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.content{
    margin-left: 260px;
    padding: 57px 0px;
    /* height: 1000px; */
}

.title{
    padding: 10px 15px;
}

.title h2{
    background-color: #0A223D;
    color: #FBD822;
    border-radius: 5px;
    padding: 10px 20px;
}

.table-data{
    padding: 0 15px;
}

.table-data table{
    width: 100%;
    outline: none;
    border-collapse: collapse;
}

.table-data table tr{
    height: 50px;
}

.table-data table td{
    text-align: center;
}

table tr:nth-child(even){
    background-color: #D6EEEE;
}

.upd-btn{
    background-color: #1F253D;
    color: #EED437;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 70px;
}

.upd-btn{
	margin-bottom: 5px;
}

.del-btn{
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 70px;
}

.upd-btn a{
    text-decoration: none;
    color: white;
}

.del-btn a{
    text-decoration: none;
    color: white;
}

.add-btn{
    margin-left: 15px;
    margin-bottom: 15px;
}

.add-btn button{
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 250px;
}

.add-btn button a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
}