@charset "ISO-8859-1";

.header-image{
    margin: 20px 20px;
}

.header-image img{
    width: 100%;
    border-radius: 10px;
}

.container{
    padding: 0 12%;
    margin-bottom: 50px;
}

.list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-col{
    flex-basis: 70%;
}

.right-col{
    flex-basis: 25%;
}

.left-col h1{
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}

.house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

.house img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.house-img{
    flex-basis: 40%;
}

.house-info{
    flex-basis: 55%;
    color: #555;
}

.house-info h3{
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}

.house-info i{
    color: #F2B500;
    font-size: 18px;
    margin: 10px 1px;
}