@charset "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #111835;
    font-size: 14px;
}

a{
	text-decoration: none;
	color:white;
}

.r-btn{
	width: 80%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
	margin-top: 10px;
}

.r-btn:hover{
    background-color: #27ae60;
}

.container{
    width: 80%;
    margin: 40px auto;
}

.contact-box{
    display: flex;
    background-color: white;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 45px 60px;
    background-color: #0B48BB;
    color: white;
}

.container h1{
    margin-bottom: 10px;
}

.container p{
    margin-bottom: 30px;
}

.contact-left label{
    display: block;
    margin: 10px 0 2px 0;
}

.contact-left input{
    width: 80%;
    height: 35px;
    border-radius: 3px;
    padding: 0 10px;
}

.contact-left textarea{
    width: 80%;
    padding-left: 10px;
    padding: 10px 10px;
}

.contact-left input[type='submit']{
    background-color: pink;
    height: 35px;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.btn{
    background-color: pink;
    height: 35px;
    width: 80%;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact-right .details h3{
    padding-top: 15px;
    padding-bottom: 10px;
}

.contact-right .details .para{
    padding-bottom: 30px;
}
