@charset "ISO-8859-1";

.house-details{
    padding: 0 12%;
    margin-bottom: 50px;
}

.house-title{
    margin-top: 50px;
}

.house-title h1{
    font-weight: 600;
}

.house-title .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.house-title span{
    margin: 0 20px;
}

.house-title i{
    color: #F2B500;
    font-size: 14px;
}

.gallery{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . .' 'first first . .';
    margin: 20px 0;
}

.gallery div img{
    width: 100%;
    display: block;
    border-radius: 10px;
}

.gallery-img-1{
    grid-area: first;
}

.small-details h2{
    font-weight: 500;
}

.small-details h4{
    text-align: right;
    font-size: 22px;
}

.line{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;
}

.linex{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 100%;
    margin: 20px 0 50px;
}

.check-form{
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
}

.check-form label{
    display: block;
}

.check-for div{
    padding: 20px;
}

.check-form input{
    background:  transparent;
    border: 0;
    outline: none;
}

.check-form button{
    background: #F2B500;
    border: 0;
    outline: none;
    color: #fff;
    padding: 18px;
    width: 350px;
    border-radius: 8px;
    font-size: 16px;
}

.guest-field{
    flex: 1;
}

.details-list{
    list-style:none;
    margin: 10px 0 50px 0;
    font-size: 17px;
}

.cz .left{
    float: left;
    width: 70%;
    max-width: 700px;
}

.cz .right{
    float: right;
    width: 30%
}

.lz .left{
    float: left;
    width: 70%;
    max-width: 700px;
}

.lz .right{
    float: right;
    width: 30%
}

.bform{
    margin-top: 20px;
    font-size: 18px;
}

/* .bform h2{
    margin-bottom: 5px;
} */

.bform form label, button{
    display: block;
    margin: 10px 0 2px 0;
}

.bform form input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px
}

.r-btn{
    background-color: #E3185F;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    margin-top: 20px;
}

a{
	text-decoration: none;
	color:white;
}

.details-list li{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative; 
}

.details-list li span{
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.details-list li i{
    position: absolute;
    top: 5px;
    left: -40px;
}

.home-desc{
    max-width: 700px;
    margin-bottom: 50px;
}

.container{
    float: left;
    padding: 0rem;
    margin: 20px 0 50px 0;
}

.map{
    margin: 50px 0;
}

.map iframe{
    width: 100%;
    margin-bottom: 30px;
}

.map h3{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}

.map b{
    display: block;
    margin-bottom: 16px;
}

.host{
    display: flex;
    align-items: center;
}

.host img{
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}

.host h2{
    margin-bottom: 10px;
    font-weight: 500;
}

.host i{
    color: #F2B500;
}

.contact-host{
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: black;
    padding: 15px 50px;
    border: 1px solid #ff5361;
    border-radius: 8px;
}
