<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://xmins.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd https://xlmns.jcp.org/xml/ns/javaee https://xmins.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>feedbackInsert</servlet-name>
    <servlet-class>com.feedback.insert_feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbackInsert</servlet-name>
    <url-pattern>/insert_feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insert_contactus</servlet-name>
    <servlet-class>com.contactus.insert_contactus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert_contactus</servlet-name>
    <url-pattern>/insert_contactus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userRegisterServlet</display-name>
    <servlet-name>userRegisterServlet</servlet-name>
    <servlet-class>com.user.userRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegisterServlet</servlet-name>
    <url-pattern>/userRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userLoginServlet</display-name>
    <servlet-name>userLoginServlet</servlet-name>
    <servlet-class>com.user.userLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLoginServlet</servlet-name>
    <url-pattern>/userLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLoginServlets</display-name>
    <servlet-name>adminLoginServlets</servlet-name>
    <servlet-class>com.admin.adminLoginServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginServlets</servlet-name>
    <url-pattern>/adminLoginServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerLoginServlet</display-name>
    <servlet-name>managerLoginServlet</servlet-name>
    <servlet-class>com.manager.managerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerLoginServlet</servlet-name>
    <url-pattern>/managerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tourguideLoginServlet</display-name>
    <servlet-name>tourguideLoginServlet</servlet-name>
    <servlet-class>com.tourguide.tourguideLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tourguideLoginServlet</servlet-name>
    <url-pattern>/tourguideLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>blogServlet</display-name>
    <servlet-name>blogServlet</servlet-name>
    <servlet-class>com.blog.blogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blogServlet</servlet-name>
    <url-pattern>/blogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>blogUpdateServlet</display-name>
    <servlet-name>blogUpdateServlet</servlet-name>
    <servlet-class>com.blog.blogUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blogUpdateServlet</servlet-name>
    <url-pattern>/blogUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>countryServlet</display-name>
    <servlet-name>countryServlet</servlet-name>
    <servlet-class>com.country.countryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>countryServlet</servlet-name>
    <url-pattern>/countryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>countryUpdateServlet</display-name>
    <servlet-name>countryUpdateServlet</servlet-name>
    <servlet-class>com.country.countryUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>countryUpdateServlet</servlet-name>
    <url-pattern>/countryUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCountryServlet</display-name>
    <servlet-name>deleteCountryServlet</servlet-name>
    <servlet-class>com.country.deleteCountryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCountryServlet</servlet-name>
    <url-pattern>/deleteCountryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBlogServlet</display-name>
    <servlet-name>deleteBlogServlet</servlet-name>
    <servlet-class>com.blog.deleteBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBlogServlet</servlet-name>
    <url-pattern>/deleteBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>provinceServlet</display-name>
    <servlet-name>provinceServlet</servlet-name>
    <servlet-class>com.province.provinceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>provinceServlet</servlet-name>
    <url-pattern>/provinceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateProvinceServlet</display-name>
    <servlet-name>updateProvinceServlet</servlet-name>
    <servlet-class>com.province.updateProvinceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProvinceServlet</servlet-name>
    <url-pattern>/updateProvinceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteProvinceServlet</display-name>
    <servlet-name>deleteProvinceServlet</servlet-name>
    <servlet-class>com.province.deleteProvinceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProvinceServlet</servlet-name>
    <url-pattern>/deleteProvinceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertCategoryServlet</display-name>
    <servlet-name>insertCategoryServlet</servlet-name>
    <servlet-class>com.blogCategory.insertCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertCategoryServlet</servlet-name>
    <url-pattern>/insertCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateCategoryServlet</display-name>
    <servlet-name>updateCategoryServlet</servlet-name>
    <servlet-class>com.blogCategory.updateCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCategoryServlet</servlet-name>
    <url-pattern>/updateCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCategoryServlet</display-name>
    <servlet-name>deleteCategoryServlet</servlet-name>
    <servlet-class>com.blogCategory.deleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCategoryServlet</servlet-name>
    <url-pattern>/deleteCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertGlobalPlace</display-name>
    <servlet-name>insertGlobalPlace</servlet-name>
    <servlet-class>com.globalPlace.insertGlobalPlace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertGlobalPlace</servlet-name>
    <url-pattern>/insertGlobalPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateglobalPlace</display-name>
    <servlet-name>updateglobalPlace</servlet-name>
    <servlet-class>com.globalPlace.updateglobalPlace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateglobalPlace</servlet-name>
    <url-pattern>/updateglobalPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteGlobalPlace</display-name>
    <servlet-name>deleteGlobalPlace</servlet-name>
    <servlet-class>com.globalPlace.deleteGlobalPlace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteGlobalPlace</servlet-name>
    <url-pattern>/deleteGlobalPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertLocalPlace</display-name>
    <servlet-name>insertLocalPlace</servlet-name>
    <servlet-class>com.localPlace.insertLocalPlace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertLocalPlace</servlet-name>
    <url-pattern>/insertLocalPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateLocalPlace</display-name>
    <servlet-name>updateLocalPlace</servlet-name>
    <servlet-class>com.localPlace.updateLocalPlace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateLocalPlace</servlet-name>
    <url-pattern>/updateLocalPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteLocalPlace</display-name>
    <servlet-name>deleteLocalPlace</servlet-name>
    <servlet-class>com.localPlace.deleteLocalPlace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteLocalPlace</servlet-name>
    <url-pattern>/deleteLocalPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchResultServlet</display-name>
    <servlet-name>searchResultServlet</servlet-name>
    <servlet-class>com.search.searchResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchResultServlet</servlet-name>
    <url-pattern>/searchResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertManagerServlet</display-name>
    <servlet-name>insertManagerServlet</servlet-name>
    <servlet-class>com.manager.insertManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertManagerServlet</servlet-name>
    <url-pattern>/insertManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateManager</display-name>
    <servlet-name>updateManager</servlet-name>
    <servlet-class>com.manager.updateManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateManager</servlet-name>
    <url-pattern>/updateManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteManager</display-name>
    <servlet-name>deleteManager</servlet-name>
    <servlet-class>com.manager.deleteManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteManager</servlet-name>
    <url-pattern>/deleteManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertUserServlet</display-name>
    <servlet-name>insertUserServlet</servlet-name>
    <servlet-class>com.backendUser.insertUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertUserServlet</servlet-name>
    <url-pattern>/insertUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateUserServlet</display-name>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>com.backendUser.updateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/updateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteUser</display-name>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>com.backendUser.deleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.user.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertPayment</display-name>
    <servlet-name>insertPayment</servlet-name>
    <servlet-class>com.payment.insertPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertPayment</servlet-name>
    <url-pattern>/insertPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mlogoutServlet</display-name>
    <servlet-name>mlogoutServlet</servlet-name>
    <servlet-class>com.manager.mlogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mlogoutServlet</servlet-name>
    <url-pattern>/mlogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>alogoutServlet</display-name>
    <servlet-name>alogoutServlet</servlet-name>
    <servlet-class>com.admin.alogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alogoutServlet</servlet-name>
    <url-pattern>/alogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userUpdateServlet</display-name>
    <servlet-name>userUpdateServlet</servlet-name>
    <servlet-class>com.user.userUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userUpdateServlet</servlet-name>
    <url-pattern>/userUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteUserServlet</display-name>
    <servlet-name>deleteUserServlet</servlet-name>
    <servlet-class>com.user.deleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserServlet</servlet-name>
    <url-pattern>/deleteUserServlet</url-pattern>
  </servlet-mapping>
</web-app>